.slider-image img {
	width: 100%;
}
.slider-image {
	position: relative;
}
.slider-image:after {
	content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0,0,0,0.8);
    z-index: 100;
}
.brand {
	float:left;
}
#navbar {
	float:right;
}
#header {
	position:absolute;
	left:0;
	right:0;
}
body {
 	font-family: 'Open Sans', sans-serif;
}
#header {
 	position: absolute;
 	right: 0;
 	top: 0;
 	left: 0;
 	padding-right: 47px;
}
.brand {
 	float: left;
}

#navbar {
 	float: right;
}

#header p {
 	font-size: 22px;
 	padding-left: 30px;
 	color: #fff;
}
#header p span {
 	color: #f7600e;
 	font-weight: 800;
}
#list-nav a {
	text-decoration: none;
}
#header {
	padding-top:47px;
	padding-left:6px;
	z-index: 200;
}
#list-nav span {
	display:block;
	width:20px;
	height: 2px;
	margin-top:3px;
	background-color: #fff;
}
button {
	background-color: transparent;
	border: 0;
	top: 0px;
}
#list-nav {
    list-style-type: none;
}
#list-nav li {
	float: left;
}
#list-nav a {
	display: block;
	padding: 6px 12px;
	color: #fff;
	text-decoration: none;
}
#list-nav .navbar-toggle span {
	width: 26px;
	height: 2px;
	margin-top: 5.4px;
}
.slider-text h1 {
	text-align: center;
	font-weight : 900;
	font-family: Open Sans, sans-serif;
	font-size: 67px;
	letter-spacing: 2px;
   	color:#fff;
}
.slider-text span {
	color:#f7600e;
	text-align: center;
}
.slider-text p {
	color:#fff;
	text-align: center;
	font-family: Open Sans, sans-serif;
	line-height: 1.5em;
    font-size: 24px;
    line-height: 1.4em;
    padding-top: 21px;
    margin-bottom:60px;
}
.slider-text {
    position: absolute;
    left: 50%;
    width: 53%;
    right: 0;
    top: 242px;
    text-align: center;
    margin-left: -25%;
    z-index: 200;
}
.slider-text a {
	display: block;
	font-size:15px;
	background-color: transparent; 
    border-radius: 10px;
    border: 1px solid #65696e;
    color:#fff;
    padding: 20px 65px;
    width: 100px;
    text-decoration:none;
    margin: 0 auto;
}
.slider-text li {
	display: inline-block;
}
.slider-text li:first-child a {
	margin-right: 15px;
}
.slider-text li:last-child a {
	margin-left: 15px;
}
.slider-text ul li:hover a {
	background: #f7600e;
	border: 1px solid #f7600e ;
}
.scroll-down {
	display: block;
	width: 30px;
	height: 30px;
	border: 2px solid black;
	border-radius: 50%;
	text-align: center;
	margin: 0 auto;
	margin-top: 165px;
	margin-bottom: 10%;
}
.scroll-down .fa {
	line-height: 30px;
}
.services {
	padding-bottom: 100px;
	padding-top: 100px;
}
.item-circle {
	width: 150px;
	height: 150px;
	border: 1px solid black;
	border-radius: 50%;
	margin: 0 auto;
	margin-bottom: 20%;
}
.item-circle span {
	display: block;
	background-size: contain;
	width: 70px;
	height:70px;
	margin: 0 auto;
	margin-top: 25%;
	background-repeat: no-repeat;
	background-position: center;
}
.service-wrapper strong {
	display:block;
	font-weight: 700;
	text-align:center;
	margin-bottom:10%;
}
.service-wrapper p {
	text-align: center;
	line-height: 1.7em;
}
.item-print span {
	background-image:url('../img/print.png');
}
.item-web span {
	background-image:url('../img/web.png');
}
.item-app span {
	background-image:url('../img/app.png');
}
.item-logo span {
	background-image:url('../img/logo.png');
}
.newsletter {
	position: relative;
	background-image:url('../img/tablet2.jpg');
	background-repeat: no-repeat;
	background-position: center;
	padding-bottom: 100px;
    padding-top: 100px;
}
.newsletter-subscribe {
	position: relative;
	text-align: center;
	z-index: 2;
}
.newsletter:after {
	content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0,0,0,0.8);
    z-index: 1;
}
.newsletter-subscribe input{
	display: inline-block;
	font-size:15px;
    border-radius: 10px;
    border: 1px solid #65696e;
    text-decoration:none;
    text-align: center;
    margin: 0 auto;
}
.newsletter-subscribe input:first-child {
	color:#000;
	width: 50%;
    /*height:50px;*/
    margin-right:15px;
    padding: 15px;
}
.newsletter-subscribe input:last-child {
    color:#fff;
    font-size: 900;
    width: 24%;
    height:50px;
    margin-left: 15px;
    background-color: #f7600e;
    cursor: pointer;
}
.portofolio {
	padding-top: 100px;
	padding-bottom: 150px;
}
.title {
	padding-bottom: 20px;
	width: 45%;
	margin:0 auto;
}
.title h2 {
	font-size: 35px;
    text-align: center;
    color: #000;
    font-weight: 600;
    padding-bottom: 20px;
}
.title p {
	text-align: center;
	line-height: 1.5em;
	padding-bottom: 50px;
}
.title span {
	color:#f7600e;
}
.row {
	margin-left: -15px;
	margin-right: -15px;
	margin-bottom: 30px;
}
.project {
	position: relative;
	margin-bottom: 10%;
}
.project img {
	width: 100%;
    border-radius: 10px;
}
.description {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
   	background-color: rgba(247, 96, 14, 0.8);
    display: none;
    border-radius: 10px;
}
.project:hover .description {
	display: block;
}
.project-text p {
	color: #fff;
	line-height: 1.5em;
	padding-bottom: 35px;
}
.project-text strong {
	display: block;
	color: #fff;
	font-weight: 600;
	font-size: 24px;
	padding-bottom: 30px;
}
.project-text {
	margin: 0 auto;
	width: 80%;
	padding-top: 70px;
	text-align: center;
}
.project-text a {
	display: block;
    font-size: 15px;
    font-weight: 600;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #fff;
    color: #f7600e;
    padding: 20px;
    width: 160px;
    text-decoration: none;
    margin: 0 auto;
    text-align: center;
}
.more-projects a {
	display: block;
    font-size: 15px;
    font-weight: 600;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #65696e;
    color: #65696e;;
    padding: 20px;
    width: 160px;
    text-decoration: none;
    margin: 0 auto;
    text-align: center;
    margin-top: 100px;
}
.testimonials {
	position: relative;
	background-image:url('../img/client.jpg');
	background-repeat: no-repeat;
	background-position: center;
	padding-bottom: 100px;
    padding-top: 100px;
    background-size: cover;
}
.testimonials:after {
	content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0,0,0,0.9);
    z-index: 1;
}
.our-team {
	padding-bottom: 100px;
    padding-top: 100px;
}
.customer-picture {
	position: relative;
    margin: 0 auto;
    text-align: center;
    z-index: 2;
}
.customer-picture img {
	border-radius: 50%;
	margin: 0 auto;
	margin-bottom: 50px;
}
.customer-picture p {
	text-align: center;
	color: #fff;
}
.customer-picture h3 {
	color:#fff;
	padding-bottom: 30px;
	font-size: 25px;
	line-height:1.4em;
	width: 100%;
	text-align: center;
	font-style: italic;
}
.member-info img {
	width: 100%;
    border-radius: 10px;
   /* border-bottom: 5px solid #f7600e;*/
}
.member-info h3 {
	text-align:center;
	font-size: 25px;
	line-height:1.4em;
	font-weight: 600;
	color:#65696e;
	padding-top: 5%;
	padding-bottom: 5%;
}
.member-info p {
	text-align: center;
	line-height: 1.5em;
}
.social-buttons li {
	display: inline-block;
}
.social-buttons {
	text-align:center;
	padding-bottom: 5%;
}
.social-buttons a {
	border-radius: 50%;
    width: 30px;
    height: 30px;
    color: #fff;
    padding-top: 7px;
    box-sizing: border-box;
    display: block;
    margin-right: 5%;
}
.social-buttons li:first-child a {
	background-color: #3b5998;
}
.social-buttons li:nth-child(2) a {
	background-color: #00aced;
}
.social-buttons li:nth-child(3) a {
	background-color: #d34836;
}
.member-info {
	filter: grayscale(100%);
}
.member-info:hover {
	/*filter: grayscale(100%);*/
	transform: scale(1.1);
	filter: contrast(100%);	
}
.member-info img:hover {
	border-bottom: 5px solid #f7600e;
}
.contact-form {
	position: relative;
	background-image:url('../img/contact.jpg');
	background-repeat: no-repeat;
	background-position: center;
/*	padding-bottom: 100px;*/
    padding-top: 100px;
    background-size: cover;
}
.contact-form:after{
	content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0,0,0,0.8);
    z-index: 1;
}
.contact-message {
	position: relative;
	text-align:left;
	z-index: 2;
}
.contact-form {
	position: relative;
    z-index: 200;
}
.title-contact {
	padding-bottom: 20px;
	width: 45%;
	margin:0 auto;
	z-index: 2000;
}
.title-contact h2 {
    color: #fff;
}
.title-contact p {
	color: #fff;
}
.title-contact span {
	color:#f7600e;
}
.last-form {
	z-index: 10000;
	position: relative;
}
.contact-message {
	font-size:17px;
    text-decoration:none;
    text-align: center;
    margin: 0 auto;
}
.contact-message input { 
	color:#000;
	width: 48%;
    text-align: left;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #65696e;
    font-family: Open Sans, sans-serif;
    font-size: 14px;
    box-sizing: border-box;
 }
.contact-message input:first-child {
	float: left;
}
.contact-message input:nth-child(2){
	float: right;
}
.contact-message textarea{
	color:#000;
	width: 100%;
    height:200px;
    text-align: left;
    padding:15px;
    border-radius: 10px;
    border: 1px solid #65696e;
    margin-top: 25px;
    font-family: Open Sans, sans-serif;
    font-size: 14px;
    padding-top: 13px;
    box-sizing: border-box;
    max-width: 100%;
    max-height: 200px;
}
.contact-message input[type="submit"] {
	display: block;
    color:#fff;
    width: 18%;
    font-size: 15px;
    height:50px;
    background-color: #f7600e;
    border-radius: 10px;
    border: 1px solid #f7600e;
    margin-top: 25px; 
   	text-align: center;
    cursor: pointer;
}
.social-buttons li:nth-child(4) a {
	background-color: #ea4c89;
}
.social-buttons li:nth-child(5) a {
	background-color: #1769ff;
}
.footer-text {
	background-color: #333333;
	padding-top: 3%;
	padding-bottom: 3%;
}
.footer-text p {
	color: #fff;
	float: left
}
.footer-text p:first-child {
	padding-right: 60%;
}
.footer-text p span {
	color: red;
	font-weight: 900;
}
.contact-items {
    width: 78%;
    margin: 0 auto;
    padding: 0;
}
.contact-items .social-buttons {
    display: block;
    text-align: right;
    padding-bottom: 5%;
    float: right;
    position: relative;
    top: -38px;
    z-index: 11;
}
.contact-items .social-buttons a {
	text-align: center;
}
