/*Tablet landscape*/
@media (max-width: 1024px) {

	.slider-text {
		top: 16%;
	}
	.slider-text h1 {
		font-size: 55px;
	}
	.slider-text p {
		font-size:18px; 
		padding-top: 15px;
    	margin-bottom: 20px;
	}
}

/*Tablet portrait*/
@media (max-width: 991px) and (min-width: 768px) {

	.slider-text {
	    top: 13%;
	}
}

/*Phone landscape*/
@media (max-width: 767px) {
	.col-3,
	.col-4 {
		width: 50%;
	}
	.slider-text h1 {
    font-size: 38px;
}
	.slider-text a {
		padding: 17px 31px
}

/*Phone portrait*/
@media (max-width: 480px) {
	.col-3,
	.col-4 {
		width: 100%;
	}
	.slider-text {
    width: 100%;
    background: #000;
    margin: 0;
    position: static;
	}
	.slider-text h1 {
    font-size: 36px;

}
.service-wrapper p {
    margin-bottom: 10%;
}
.newsletter-subscribe input:first-child {
  
    width: 90%;
    height: 50px;
    margin-bottom: 10%;
}
.member-info:hover {
    filter:none;
    transform: none;
    scale:none;  
    border-bottom: 0px; 
}
.member-info img {
    width: 100%;
    border-radius: 10px;
  
}
.member-info p {
    margin-bottom: 10%;
/*Small phones*/
@media (max-width: 320px) {

}