/*
  ========================================
  Grid
  ========================================
*/
.container {
  max-width: 1170px;
  margin: 0 auto;
  padding-left:15px;
  padding-right: 15px;
  box-sizing: border-box;
}
.col-12 {
 width: 100%;
 box-sizing: border-box;
 padding-left: 15px;
 padding-right: 15px;
}

.col-11 {
 width: 91.66%;
}

.col-10{
 width: 83.33%;
}

.col-9 {
 width: 75%;
}

.col-8 {
 width: 66.66%;
}

.col-7 {
 width: 58.33%;
}

.col-6 {
 width: 50%;
}

.col-5 {
 width: 41.66%;
}

.col-4 {
 width: 33.33%;
}

.col-3 {
 width: 25%;

}

.col-2 {
 width: 16.6667%;
}

.col-1 {
 width: 8.33%;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11 {
 padding-left: 15px;
 padding-right: 15px;
 float: left;
 box-sizing: border-box;
}



/*
  ========================================
  Clearfix
  ========================================
*/
.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/ close commented backslash hack /